.cardTile {
    border-radius: 0.75rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }
  
  .cardTileText {
    margin: 0;
    padding: 0;
    display: flex;
  
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
  }


  .cardTileQ {
    margin: 0;
    padding: 0;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    display: flex;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
  }
  .cardTileA {
    margin: 0;
    padding: 0;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    display: flex;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
  }