.connect {
    margin-left: 10%;
    margin-top: 8vh;
}

.connect h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-size: calc(18px + 3vmin);
}

.connect h1 span {
    color: #5A4FCF;
}

.connect p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.connect .description {
    font-size: calc(9px + 1.5vmin);
    width: calc(150px + 25vw);
}

.connect .tellEmail {
    font-size: calc(3px + 1.5vmin);
    width: calc(150px + 15vw);
}

.emailValidation {
    text-align: center;
    line-height: 0;
    font-size: calc(3px + 1.5vmin);
    width: calc(170px + 8vw);
    color: rgb(5, 112, 5);
}

.emailForm {
    display: flex;
    align-items: center;
}

.emailInput {
    width: calc(150px + 7vw);
    height: 5vh;
    border: 2px solid #444444;
    border-radius: 9999px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(6px + 2.5vmin);
    text-align: center;
    outline: 0 !important;
    padding: 0 calc(10px + 0.5vw);
    box-shadow: none;
}

.emailSubmit {
    outline: 0 !important;
    width: auto;
    height: auto;
    margin-top: 0.3em;
    margin-left: 0.5em;
    border: 0px;
    color: #80FFDB;
    background: none;
    cursor: pointer;
}

.emailSubmit:hover {
    color: #00DB9D;
}

.emailSubmit:active {
    color: #019a6e;
}

.emailSubmit .submitIcon {
    width: calc(10px + 5vmin);
    height: calc(10px + 5vmin);
    stroke: #444444;
    stroke-width: 16px;
}

@media all and (max-height: 400px), (max-width: 400px) {
    .connect {
        margin-top: 32px;
    }

    .connect h1 {
        font-size: 30px;
    }

    .connect .description {
        font-size: 15px;
    }

    .connect .tellEmail {
        font-size: 9px;
    }

    .emailInput {
        font-size: 16px;
    }
}