.contactBody {
    background-color: #5A4FCF;
    color: #FFFFFF;
    padding-top: 5vmin;
    padding-bottom: 10vmin;
    text-align: center;
}

.contactBody h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(18px + 3vmin);
}

.contactBody p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(9px + 1.5vmin);
    padding-bottom: 1em;
}

.emailForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailInput {
    width: 37.5vmin;
    height: 5vmin;
    border: 0px;
    border-radius: 2.5vmin;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

.emailSubmit {
    width: calc(10px + 5vmin);
    height: calc(10px + 5vmin);
    margin-left: 0.5em;
    border: 0px;
    border-radius: 2.5vmin;
    background-color: #5A4FCF;
    outline: 0 !important;
}

.emailSubmit .submitIcon {
    width: calc(10px + 5vmin);
    height: calc(10px + 5vmin);
    margin-right: 1em;
    border-radius: 2.5vmin;
    color: #80FFDB;
    background-color: #5A4FCF;
    cursor: pointer;
}

.submitIcon:hover {
    color: #00DB9D;
}

.submitIcon:active {
    color: #019a6e;
}