.bondUl {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-right: 2.5em;
    text-align: center;
}

.prevText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(4px + 1vmin);
    letter-spacing: .3em;
    text-indent: .3em;
    color: #888888;
}

.bondDivider {
    margin: 1em 0;
    border-top: 2px solid #e1e1e1;
}

.bondName {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: .25em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 1.5vmin);
}

.bondIcon {
    height: calc(6px + 1.5vmin);
    padding-right: .25em;
}

.bondTruth {
    margin: .5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(4px + 1vmin);
}

.bondLie {
    margin: .5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(4px + 1vmin);
    color: #FF5249;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}