.name{
    font-family: 'Roboto', sans-serif; 
    display: block;
    margin:auto; 
    font-size:15px; 
    padding: 0px; 
    text-align:center;
    text-decoration: underline;
}

.size{
padding:5px; 
}
