.Avatar {
  position: relative;
  flex: 0 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(40px + 20vmin);
}

.name {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: auto;
  font-size: calc(6px + 1.5vmin);
  padding-top: 10px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.05em;
}

.icon {
  width: 10vmin;
  height: 10vmin;
  min-width: 40px;
  min-height: 40px;
  border-radius: 0.5vmin;
  box-shadow: 0 0 4px #888888;
}

.delete {
  font-size: 20px;
  width: 3vmin;
  height: 3vmin;
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  background-color: red;
  position: absolute;
  cursor: pointer;
  right: 6vmin;
  top: -0.5vmin;
  border-radius: 50%;
}

@media all and (max-width: 400px), (max-height: 400px) {
  .name {
    font-size: 12px;
  }
}
