.simpleButton {
    --fontmin: 4;
    --fontvar: 2.5;
    outline: 0 !important;
    width: auto;
    height: 5vh;
    border: 1px solid #000000;
    border-radius: 9999px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: calc(var(--fontmin) * 1px + var(--fontvar) * 1vmin);
    min-width: 20vmin;
    min-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 1vmin;
    cursor: pointer;
    line-height: 0;
}

@media only screen and (max-width: 768px) {
    .simpleButton {
        height: calc(10px + 3vh);
    }
}

@media all and (max-height: 400px), (max-width: 400px) {
    .simpleButton {
        font-size: 14px;
        min-width: 80px;
    }
}

.simpleButton:hover {
    background-color: lightgray;
    outline: none;
}

.simpleButton:active {
    background-color: gray;
    outline: none;
}

.small {
    width: 10vmin;
    height: 1vmin;
    min-width: 100px;
    min-height: 30px;
    font-size: 15px;
}

.join {
    background-color: #80FFDB;
    border: 0px;
}

.join:hover {
    background-color: #00DB9D;
    color: white;
}

.join:active {
    background-color: #019a6e;
    color: white;
}

.host {
    background-color: #48BFE3;
    border: 0px;
}

.host:hover {
    background-color: #1D95BA;
    color: white;
}

.host:active {
    background-color: #13637c;
    color: white;
}

.purple {
    background-color: #5A4FCF;
    color: white;
    border: 0px;
    text-transform: none;
}

.purple:hover {
    background-color: #4f2692;
}

.purple:active {
    background-color: #3d1d72;
}
