.simpleButton {
    outline: 0 !important;
    width: 20vmin;
    height: 5vmin;
    border: 1px solid #000000;
    border-radius: 24px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: calc(4px + 2.5vmin);
    min-width: 120px;
    min-height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 1vmin;
    cursor: pointer;
    line-height: 0;
}

.simpleButton div {

}

@media all and (max-height: 400px) {
    .simpleButton {
        font-size: 12px;
    }
}

@media all and (max-width: 400px) {
    .simpleButton {
        font-size: 12px;
    }
}
.simpleButton:hover {
    background-color: lightgray;
    outline: none;
}

.simpleButton:active {
    background-color: gray;
    outline: none;
}

.small {
    width: 10vmin;
    height: 1vmin;
    min-width: 100px;
    min-height: 30px;
    font-size: 15px;
}

.join {
    background-color: #80FFDB;
    border: 0px;
}

.join:hover {
    background-color: #00DB9D;
    color: white;
}

.join:active {
    background-color: #019a6e;
    color: white;
}

.host {
    background-color: #48BFE3;
    border: 0px;
}

.host:hover {
    background-color: #1D95BA;
    color: white;
}

.host:active {
    background-color: #13637c;
    color: white;
}

#autoWidth {
    width: auto;
    padding: 0 1.5vw;
}
