#alignright{
    float:right; 
    display: flexbox;
}

.footer{
    width:100%;
    background-color: #e1e1e1;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 0.05em; 
}

.footer .content{
    padding:3vmin 6vmin; 
}
