.gamesMenuContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gamesMenuContainer .overlay {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: #000000;
    cursor: pointer;
}

.gamesMenu {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;   
}

.gamesMenu header {
    width: 100%;
    height: 12%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 4px solid #E1E1E1;
}

.gamesMenu header h1 {
    padding-top: 2vh;
    text-align: center;
    font-size: calc(6px + 3vmin);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #000000;
}

.gamesMenu header button {
    position: absolute;
    top: 3vh;
    right: 2.5vw;
    border: 0;
    background-color: transparent;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 2vmin);
    text-align: center;
    letter-spacing: 0.1em;

    color: #6930C3;
    
    cursor: pointer;
}

.gamesMenu header button:hover {
    color: #9293DD;
}

.gamesMenu header .logo {
    position: absolute;
    top: calc(5px + 0.5vh);
    left: 2.5vw;
}

.gamesMenu header .logo .logoImg {
    width: 8vmin;
    height: 8vmin;
}

.gamesMenu header .logo p {
    position: absolute;
    top: 0.5vh;
    left: 9vmin;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: calc(2px + 2vmin);
    letter-spacing: 0.05em;

    color: #5A4FCF;
}

@media all and (max-width: 1250px) {
    .gamesMenu header .logo p {
        display: none;
    }
}

@media all and (max-width: 400px), (max-height: 400px) {
    .gamesMenu header h1 {
        font-size: 15px;
    }
}

@media all and (max-width: 600px) {
    .gamesMenu header {
        height: 7%;
    }
    .game .gameTransparent {
        flex-direction: column;
        vertical-align: center;
    }
    .game .gameTransparent .text {
        top: 50%;
    }
}

.gamesBackground {
    position: relative;
    width: 100%;
    height: 88%;
    background: linear-gradient(180deg, rgba(128, 255, 219, 0.75) 0%, rgba(72, 191, 227, 0.75) 75%);
}

.gamesFrame {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gamesFrame .transparent {
    position: sticky;
    top: 1vh;
    left: 0.5vw;
    width: 99vw;
    height: 75vh;
    box-shadow: 0 0 0 1000px #fff;
    border-radius: 10px;
    overflow: hidden;
}

.gamesFrame .scrollingWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.games {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    height: auto;
}

.games .game {
    position: relative;
    width: 100%;
    height: 19vh;
    min-height: 80px;
    overflow: hidden;
}

.game .gameTransparent {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5%;
    width: 100%;
    height: 90%;
    box-shadow: 0 0 0 10vmin #fff;
    border-radius: 5px;
    padding: 30px;
}

.game .gameTransparent .text {
    font-size: calc(7px + 1.5vmin);
    width: 60%;
    max-width: 1000px;
}

.game .gameTransparent .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-right: 5px;
}

.game .gameTransparent .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 2vmin);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.game .gameTransparent .link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 2vmin);
    text-align: center;
    letter-spacing: 0.1em;

    color: #6930C3;
}

.game .gameTransparent button {
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
    outline: 0 !important;
}

.game .gameTransparent button:hover {
    color: #9293DD;
}


.exit {
    cursor: pointer;
}
