.gameBody {
    position: absolute;
    left: 0%;
    width: calc(75% - 2px);
    height: 100%;
    display: flex;
}

/* ===== TOP ===== */

.gameBar {
    width: 100%;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
}

.gameLogo {
    display: flex;
    flex-direction: row;
}

.logoImg {
    height: 4vmin;
    min-height: 16px;
}

.logoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0.4vw;
}

.gameLogo p1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 1vmin);
    letter-spacing: 0.05em;
    color: #5A4FCF;
}

.gameLogo p2 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(3px + 1vmin);
    letter-spacing: 0.05em;
    color: #000000;
}

.centerText {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.centerText p1 {
    font-size: calc(3px + .75vmin);
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.05em;
}

.centerText p2 {
    font-weight: bold;
    font-size: calc(10px + 1.5vmin);
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.05em;
}

/* ===== MAIN ===== */

.gameMain {
    position: absolute;
    top: calc(4px + 5vmin);
    padding-top: 2vmin;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
}

.videoImg {
    height: 50vmin;
}

/* ===== SIDE ===== */

.gameSide {
    position: absolute;
    right: 0%;
    width: calc(25% - 2px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.gameSideHeader {
    width: 42%;
    margin-top: 1em;
    padding: 0 2.5em;
}

.prevText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: calc(4px + 1vmin);
    letter-spacing: .3em;
    text-indent: .3em;
    color: #888888;
    text-align: center;
}

.gameSideBondDivider {
    width: 100%;
    margin: 1em 0;
    border-top: 2px solid #e1e1e1;
}

.scoreBox {
    margin-top: 2vmin;
    height: 6vmin;
    border-radius: 6vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #48BFE3;
}

.scoreBox p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(12px + 3vmin);
    padding-left: 1vmin;
}

.scoreIcon {
    height: 3.5vmin;
    padding: 1vmin;
}