.joinContainer {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 47%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
}

.join {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.join h2, .joinContainer p {
    font-family: Roboto;
    letter-spacing: 0.05em;
    text-indent: 0.05em;
}

.joinContainer p {
    position: fixed;
    top: 96%;
}

.name {
    width: calc(100px + 20vmin);
    min-width: 180px;
    height: calc(20px + 2.5vmin);
    min-height: 30px;
    border-radius: 9999px;
    border: 1px solid #000000;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: calc(4px + 1.5vmin);
    letter-spacing: 0.05em;
    text-indent: 0.05em;
    color: #000000;
    outline: none;
}

.instructions {
    padding-bottom: 20px;
    font-family: Roboto;
    letter-spacing: 0.05em;
    text-indent: 0.05em;
}

.line{
    width:100%; 
    height:4px; 
    border:none;
    background-color: #E1E1E1;
}

.joinedOuter {
    display: flex;
    align-self: center;
    transform: translate(0, 20%);
    width: 100%;
    height: 85%;
}

.joinedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.center{
    padding-top: calc(2px + 0.5vh);
    padding-bottom: calc(12px + 1vh);
    width: 100%;
    display:flex; 
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.joinedContainer .joined {
    overflow: hidden;
    width: 80%;
}

.joinedContainer .joined > h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(9px + 2vmin);
    text-transform: uppercase;

    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.joinedContainer .waiting {
    width: 100%;
}

@media all and (max-width: 400px), (max-height: 400px) {
    .name {
        font-size: 10px;
    }
    .joinedContainer .joined > h1 {
        font-size: 17px;
    }
}