
.table{
    width: 100%; 
    text-align: center;
    padding-bottom: 5vh;
}

.column .text{
    width:30%; 
}

.landing {
    background: #56cfe1;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 0.05em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw;
}

.landing h1{
    text-align: center;
    font-size: 6vmin;
}

.column h4{
    color: rgb(97, 94, 94); 
}

.column hr{
    height:15vmax;
    border: 0; 
    width:5px; 
    background-color: white;
    border-radius: 200px;
}

#purple{
    color:  #5A4FCF; 
}