.MenuContainer {
    width: 100vw;
    height: 100vw;
}

.Menu {
    position: absolute;
    left: 25%;
    right: 25%;
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.15);
    --menu-width: 50%;
    width: var(--menu-width);
    height: 100%;
}

/* Adding some styling for mobile devices */

@media all and (max-width: 1000px) {
    .Menu {
        /* Widen container */
        left: 15%;
        right: 15%;
        width: 70%;
    }
}

.MenuBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/*.white {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    background: #ffffff;
    z-index: 1;
} */ /*no longer needed without join button animation*/

.Menu .logoImg {
    margin-top: 10vh;
    height: 30vmin;
    min-height: 120px;
}

.logoText {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 3vmin);
    letter-spacing: 0.5em;
    padding-top: 3vh;
    padding-left: 0.5em;
    color: #5a4fcf;
}

@media all and (max-height: 400px), (max-width: 400px) {
    .logoText {
        font-size: 18px;
    }
}

.MenuButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.joinOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 0.5vh;
}

.defaultButton {
    background: #ffffff;
    width: 100%;
    /*z-index: 1; no longer needed w/out join button animation*/
    padding-bottom: 2px;
}

.joinCodeLabel {
    font-family: "Roboto";
    font-weight: bold;
    font-size: var(--font-size); 
    letter-spacing: 0.1em;
    color: #000000;
}

.codeInput {
    margin-left: 10px;
    width: 18vmin;
    min-width: 72px;
    max-width: 150px;
    height: 4.5vmin;
    min-height: 18px;
    max-height: 40px;
    border-radius: 24px;
    border: 1px solid #000000;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: bold;
    font-size: calc(var(--font-size) - 2px);
    letter-spacing: 0.1em;
    color: #000000;
    outline: none;
}

.codeInputError {
    border: 1px solid red;
}