.statements {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    min-width: 50%;
}

.statementButton {
    margin: 8px;
    background-color: #E1E1E1;
    border: 0px;
    border-radius: 50vh;
    padding: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: black;
}

.statementButton:hover {
    background-color: #80FFDB;
}

.statementButton:active {
    background-color: #00DB9D;
    color: white;
}