.settingsBackground {
    --radius: calc(4px + 0.2vmin);
}

.settingsBackground input, .settingsBackground textarea {
    outline: 0 !important;
}

.settingsBackground header {
    display: flex;
    align-items: center;
    align-self: center;


    width: auto;
    height: 10vh;
    min-height: 40px;

    border-bottom: 4px solid #E1E1E1;
    padding-left: calc(10px + 3vw);
    padding-right: calc(10px + 3vw);
}

.settingsBackground header h1 {
    
    text-align: center;
    font-size: calc(9px + 2vmin);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 0 2vw;
}

.settingsBackground header > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.settingsBackground header .button {
    justify-content: flex-end;
}


.settingsBackground header button {
    border: 0;
    background-color: transparent;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(6px + 2vmin);
    text-align: center;
    letter-spacing: 0.1em;

    color: #6930C3;
    cursor: pointer;
}

.settingsBackground header button:hover {
    color: #9293DD;
}

.settingsBackground header .logo .logoImg {
    width: calc(10px + 5vmin);
    height: calc(10px + 5vmin);

}

.settingsBackground header .logo {
    justify-content: flex-start;
    align-items: center;
}

.settingsBackground header .logo div {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: calc(2px + 2vmin);
    letter-spacing: 0.05em;

    padding-left: calc(5px + 0.1vw);
    color: #5A4FCF;
}

@media all and (max-width: 900px) {
    .settingsBackground header .logo div {
        display: none;
    }
}

@media all and (max-width: 400px), (max-height: 400px) {
    .settingsBackground header h1 {
        font-size: 17px;
    }
}

.settingsBackground .body {
    width: calc(150px + 60vw);
    margin-left: auto;
    margin-right: auto;
}

.settingsForm{
    display: inline-block;
}

.settingsForm label  {
    font-weight: 700;
}

.settingsInput{
    border-width: 1px;
    border-radius: var(--radius);
    width: 100px;
    height: 30px;
    padding: 0px 10px; 
    margin: 5px 5px;
    box-sizing: border-box;
}

.instructions{
    font-family:'Roboto', sans-serif; 
    padding: 0 10px;
    width:50%; 
}

.long {
    border-width: 1px;
    padding: 0 10px;
    border-radius: var(--radius);
    width:200px; 
    height: 30px;
    margin: 5px 5px;
}

.code {
    border-width: 1px;
    border-radius: var(--radius);
    width:90px; 
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.avatarTable{
    width:100%; 
    margin-left: auto; 
    margin-right: auto; 
}

.line{
width:100%; 
height:5px; 
color:gray; 
background-color: gray;
}

.center{
    display:flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    overflow-x: auto;
}

.center:empty{
    display: block;
    text-align: center;
}

.center:empty:before{
    content: "Give your players the game code. Once everyone shows up here and you're ready to start the game, press start!";
}

@media all and (max-width: 850px) {
    .center {
        display:flex; 
        align-items: center;
        flex-direction: column;
    }
}
