.truth {
    outline: 0 !important;
    margin: .8vmin 0;
    width: 72vmin;
    height: 4.5vmin;
    background: #80FFDB;
    border: 0;
    border-radius: 5vmin;
    font-family: Roboto Condensed;
    font-size: calc(6px + 1.5vmin);
    text-align: center;
}

.truth:focus::placeholder {
    color: transparent;
}

.truth::placeholder {
    font-weight: bold;
    letter-spacing: .4em;
    text-indent: .4em;
    color:rgb(89, 89, 89);
}

.lie {
    outline: 0 !important;
    margin: .8vmin 0;
    width: 72vmin;
    height: 4.5vmin;
    background: #FF8680;
    border: 0;
    border-radius: 5vmin;
    font-family: Roboto Condensed;
    font-size: calc(6px + 1.5vmin);
    text-align: center;
}

.lie:focus::placeholder {
    color: transparent;
}

.lie::placeholder {
    font-weight: bold;
    letter-spacing: .4em;
    text-indent: .4em;
    color:rgb(89, 89, 89);
}

.submitButton {
    outline: 0 !important;
    margin-top: 2vmin;
    margin-left: 29vmin;
    width: 14vmin;
    height: 5vmin;
    background: #48BFE3;
    border: 0;
    border-radius: 5vmin;
    font-family: Roboto;
    font-weight: bold;
    font-size: calc(6px + 1.5vmin);
    letter-spacing: .1em;
    text-indent: .1em;
    text-align: center;
    cursor: pointer;
}

.submitButton:hover {
    background: #7edcf9;
}

.submitButton:active {
    background: #b2e8f9;
}

.submitted {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    letter-spacing: .1em;
}