.submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitForm div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.truth {
    outline: 0 !important;
    margin: 0.8vmin 0;
    width: 72vmin;
    height: 4.5vmin;
    background: #80ffdb;
    border: 0;
    border-radius: 9999px;
    font-family: Roboto Condensed;
    font-size: calc(6px + 1.5vmin);
    text-align: center;
}

.truth:focus::placeholder {
    color: transparent;
}

.truth::placeholder {
    font-weight: bold;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    color: rgb(89, 89, 89);
}

.lie {
    outline: 0 !important;
    margin: 0.8vmin 0;
    width: 72vmin;
    height: 4.5vmin;
    background: #ff8680;
    border: 0;
    border-radius: 9999px;
    font-family: Roboto Condensed;
    font-size: calc(6px + 1.5vmin);
    text-align: center;
}

.lie:focus::placeholder {
    color: transparent;
}

.lie::placeholder {
    font-weight: bold;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    color: rgb(89, 89, 89);
}

.submitButton {
    outline: 0 !important;
    margin-top: 2vmin;
    width: 14vmin;
    height: 5vmin;
    background: #48bfe3;
    border: 0;
    border-radius: 5vmin;
    font-family: Roboto;
    font-weight: bold;
    font-size: calc(6px + 1.5vmin);
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    text-align: center;
    cursor: pointer;
}

.submitButton:hover {
    background: #7edcf9;
}

.submitButton:active {
    background: #b2e8f9;
}

.submitted {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
}
