.timer {
    background: #80FFDB;
    border-radius: 7680px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timerDanger {
    background: #e1644e;
}

.timer .clockImg {
    height: 3vmin;
    padding-left: 0.4vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-right: 0.4vw;
}

.timer .timerText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.8vw;
}

.timer p1 {
    font-style: normal;
    font-weight: bold;
    font-size: calc(9px + 1.5vmin);
    color: #000000;
}

.timer p2 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: calc(6px + 1vmin);
    color: #000000;
}