.recorder {
    width: 50vw;
    height: calc(50vw * 3/4);
    min-width: 500px;
    max-width: 640px;
    max-height: 480px;
}

.loadingText {
    text-align: center;
    padding-top: 20vh;
}

@media all and (max-width: 500px) {
    .recorder {
        width: 100%;
        height: calc(100vw * 3/4);
    }

    .videoContainer {
        width: 100%;
        height: calc(100vw * 3/4);
    }
}

.videoContainer {
    width: 50vw;
    height: calc(50vw * 3/4);
    min-width: 500px;
    max-width: 640px;
    max-height: 480px;
}